extends layout

block content
    h1= title
    h2= item.name
    h3 Author: #{item.author}
    p= item.description
    div(style="width: 50vw")
        img(src=`${item.url}` alt="Item pic" style="width: 100%;height: 100%;object-fit: contain;")
    hr
    h2 Category
    a(href=item.category.appUrl)= item.category.name 
    hr
    a(href=`${item.appUrl}/update` style="font-size: 16px") Update Item
    br
    a(href=`${item.appUrl}/delete` style="font-size: 16px") Delete Item 